[Unit]
Description=Digital K-Hole Book Web Service (Trunk serve)
After=network.target

[Service]
Type=simple
User=USER_PLACEHOLDER
WorkingDirectory=REPO_DIR_PLACEHOLDER
Environment="PATH=/home/henrypost/.cargo/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=trunk serve --port 3004 --address 127.0.0.1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
